+spring:
  application:
    name: attendance-service

  datasource:
    url: jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/postgres
    username: postgres
    password: jiG2lTyRic7T0sQK
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://wrmtllklfwohgbvkigio.supabase.co/auth/v1

server:
  port: 8081